body {
    font-family: 'Holtwood One SC', serif;
}

html, body, header, .view {
    height: 100%;
}

@media (max-width: 740px) {
    html, body, header, .view {
        height: 100vh;
    }
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

.btn-style {
    background-color: rgba(255, 255, 255, 0.63);
}

img {
     position: absolute;
     left: 0;
     right: 0;
     margin: auto;
}